@import "../../../styles/variables.scss";

.content {
    font-family: "Fugaz One", sans-serif;
    font-size: 22px;
    flex-direction: column;
    align-items: flex-end;
    @include page-settings();
    &__wrapper {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 1000px;
        margin-left: 36px;
    }
    &__add-car {
        @include button-styles();
        margin-bottom: 35px;
        margin-bottom: 20px;
    }
    &__list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 1000px;
            height: 60px;
            border-radius: 6px;
            background-color: $color-light;
            &-name {
                margin-left: 36px;
                margin-right: 5px;
            }
            &-number {
                color: $color-highlight;
            }
            &-buttons {
                display: flex;
                align-items: center;
                gap: 8px;
            }
            &-button {
                border: none;
                cursor: pointer;
                background-color: transparent;
                &-icon {
                    width: 34px;
                    height: 34px;
                }
                &:last-child {
                    margin-right: 36px;
                }
            }
        }
    }
}
