@media (min-width: 1380px) and (max-width: 1700px) {
  .second-page .container {
    max-width: 1306px;
  }
  .second-page .main__item {
    width: 420px;
  }
}
@media (min-width: 1313px) and (max-width: 1380px) {
  .second-page .container {
    max-width: 1163px;
  }
  .second-page .header__image {
    padding: 0px 0 30px 0;
  }
  .second-page .main {
    padding: 70px 0 90px 0;
  }
  .second-page .main__filter-btn {
    padding: 24px 0 24px;
  }
  .second-page .main__content {
    gap: 50px 23px;
  }
  .second-page .main__item-title {
    font-size: 24px;
  }
  .second-page .main__item {
    width: 370px;
  }
  .second-page .item__btns-btn {
    width: 120px;
  }
  .second-page .show-more-btns_showmore {
    padding: 20px;
  }
}
@media (min-width: 991px) and (max-width: 1313px) {
  .second-page .container {
    max-width: 937px;
  }
  .second-page .header__image {
    padding: 0px 0 30px 0;
  }
  .second-page .header__image > img {
    width: 850px;
  }
  .second-page .item__btns-btn {
    width: 120px;
  }
  .second-page .main {
    padding: 70px 0 90px 0;
  }
  .second-page .main__filter-btn {
    padding: 24px 0 24px;
  }
  .second-page .main__content {
    gap: 50px 23px;
  }
  .second-page .main__item-title {
    font-size: 24px;
  }
  .second-page .main__item {
    width: 457px;
  }
}
@media (min-width: 812px) and (max-width: 990px) {
  .second-page .container {
    max-width: 720px;
  }
  .second-page .header {
    background-size: cover;
  }
  .second-page .header__nav {
    padding-bottom: 39px;
  }
  .second-page .header__image {
    padding: 0px 0 151px 0;
  }
  .second-page .header__search {
    width: 300px;
    height: 63px;
    padding: 19px 30px 20px 22px;
  }
  .second-page .header__image > img {
    width: 700px;
    height: 249px;
  }
  .second-page .item__btns-btn {
    width: 225px;
  }
  .second-page .btn-specifications {
    width: 274px;
  }
  .second-page .main {
    padding: 110px 0 110px 0;
  }
  .second-page .main__filter {
    margin-bottom: 110px;
    flex-direction: column;
  }
  .second-page .main__filter-btn {
    width: 720px;
    height: 85px;
    padding: 28px 0px 10px 0px;
  }
  .second-page .main__content {
    padding: 110px 0 110px 0;
    justify-content: center;
    gap: 23px 23px;
  }
  .second-page .main__item-title {
    font-size: 24px;
  }
  .second-page .main__item {
    width: 518px;
  }
  .second-page .footer {
    padding: 84.5px 0px;
  }
}
@media (min-width: 570px) and (max-width: 811px) {
  .second-page .container {
    max-width: 518px;
  }
  .second-page .header {
    background-size: cover;
  }
  .second-page .header__nav {
    padding-bottom: 39px;
  }
  .second-page .header__image {
    padding: 0px 0 151px 0;
  }
  .second-page .header__search {
    background: none;
    width: 0px;
    height: 63px;
    padding: 0px;
  }
  .second-page .header__search-desktop {
    display: none;
  }
  .second-page .header__search-mobile {
    display: block;
  }
  .second-page .header__image > img {
    width: 420px;
    height: 149.4px;
  }
  .second-page .item__btns-btn {
    width: 225px;
  }
  .second-page .btn-specifications {
    width: 274px;
  }
  .second-page .header__search-input {
    display: none;
  }
  .second-page .header__search-mobile {
    transform: translateX(-43px);
  }
  .second-page .main {
    padding: 110px 0 110px 0;
  }
  .second-page .main__filter {
    margin-bottom: 110px;
    flex-direction: column;
  }
  .second-page .main__filter-btn {
    width: 518px;
    height: 85px;
    padding: 28px 0px 10px 0px;
  }
  .second-page .main__content {
    padding: 110px 0 110px 0;
    justify-content: center;
    gap: 23px 23px;
  }
  .second-page .main__item-title {
    font-size: 24px;
  }
  .second-page .main__item {
    width: 518px;
  }
  .second-page .footer {
    padding: 46px 0px 99px 0px;
  }
  .second-page .footer__content {
    flex-direction: column;
  }
}
@media (min-width: 420px) and (max-width: 569px) {
  .second-page .container {
    max-width: 320px;
  }
  .second-page .header {
    background-size: cover;
  }
  .second-page .header__nav {
    padding-bottom: 39px;
  }
  .second-page .header__image {
    padding: 0px 0 60px 0;
  }
  .second-page .header__search {
    background: none;
    width: 0px;
    height: 63px;
    padding: 0px;
  }
  .second-page .header__search-desktop {
    display: none;
  }
  .second-page .header__search-mobile {
    display: block;
  }
  .second-page .header__image > img {
    width: 420px;
    height: 149.4px;
  }
  .second-page .header__search-input {
    display: none;
  }
  .second-page .header__search-mobile {
    transform: translateX(-43px);
  }
  .second-page .main {
    padding: 60px 0 60px 0;
  }
  .second-page .main__filter {
    margin-bottom: 30px;
    flex-direction: column;
  }
  .second-page .main__filter-btn {
    display: flex;
    width: 320px;
    height: 52px;
    padding: 11px 0px 15px 0px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  .second-page .main__content {
    padding: 30px 0 30px 0;
    justify-content: center;
    gap: 23px 23px;
  }
  .second-page .main__item-title {
    font-size: 18px;
  }
  .second-page .main__item {
    width: 518px;
  }
  .second-page .item__btns-btn {
    display: flex;
    width: 136px;
    height: 68px;
    padding: 20px 42px 22px 41px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  .second-page .show-more-btns_showmore {
    display: flex;
    width: 195px;
    height: 93px;
    padding: 0px 40px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  .second-page .footer {
    padding: 46px 0px 99px 0px;
  }
  .second-page .footer__content {
    flex-direction: column;
  }
  .second-page .footer__company {
    margin-top: 43px;
  }
  .second-page .footer__logos > a > img {
    width: 63px;
    height: 40px;
  }
  .second-page .footer__logos-logo {
    font-size: 18px;
  }
}
@media (min-width: 320px) and (max-width: 419px) {
  .second-page .container {
    max-width: 280px;
  }
  .second-page .header {
    background-size: cover;
  }
  .second-page .header__nav {
    padding-bottom: 39px;
  }
  .second-page .header__image {
    padding: 0px 0 60px 0;
  }
  .second-page .header__search {
    background: none;
    width: 0px;
    height: 63px;
    padding: 0px;
  }
  .second-page .header__search-desktop {
    display: none;
  }
  .second-page .header__search-mobile {
    display: block;
  }
  .second-page .header__image > img {
    width: 280px;
    height: 99.6px;
  }
  .second-page .header__search-input {
    display: none;
  }
  .second-page .header__search-mobile {
    transform: translateX(-43px);
  }
  .second-page .main {
    padding: 60px 0 60px 0;
  }
  .second-page .main__filter {
    margin-bottom: 30px;
    flex-direction: column;
  }
  .second-page .main__filter-btn {
    display: flex;
    width: 290px;
    height: 52px;
    padding: 11px 0px 15px 0px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  .second-page .main__content {
    padding: 30px 0 30px 0;
    justify-content: center;
    gap: 23px 23px;
  }
  .second-page .main__item-title {
    font-size: 18px;
  }
  .second-page .main__item {
    width: 518px;
  }
  .second-page .item__btns-btn {
    display: flex;
    width: 103px;
    height: 68px;
    padding: 20px 42px 22px 41px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  .second-page .show-more-btns_showmore {
    display: flex;
    width: 195px;
    height: 93px;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  .second-page .footer {
    padding: 46px 0px 99px 0px;
  }
  .second-page .footer__content {
    flex-direction: column;
  }
  .second-page .footer__company {
    margin-top: 43px;
  }
  .second-page .footer__logos > a > img {
    width: 63px;
    height: 40px;
  }
  .second-page .footer__logos-logo {
    font-size: 18px;
  }
}/*# sourceMappingURL=car_info-adaptive.css.map */