@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.header {
  background: url("../images/header_background.webp"), #03070a 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.header__search {
  width: 479px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 19px 46px 20px 22px;
  border-radius: 112px;
  background: var(--txt_color_second, #fff);
}
.header__search-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
}
.header__search-desktop {
  display: block;
}
.header__search-mobile {
  display: none;
}
.header__image {
  padding: 32px 0 144px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-page .header {
  background: #020f14;
}

.main {
  padding: 110px 0 123px 0;
  background: var(--txt_color_second, #fff);
}
.main__filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 23px;
  margin-bottom: 70px;
}
.main__filter-btn {
  width: 518px;
  padding: 36px 0 36px;
  border-radius: 5px;
  border: 1px solid #2ca7cb;
  background: transparent;
  color: var(--txt_color_main, #000);
  text-align: center;
  font-size: 32px;
  font-family: "Fugaz One";
  transition: all 0.3s ease;
}
.main__filter-btn.active {
  color: var(--txt_color_second, #fff);
  background: var(--color_main, #2ca7cb);
}
.main__filter-btn:not(.active):hover {
  border: 1px solid var(--color_second, #e11e18);
  background: rgba(44, 167, 203, 0.1);
}
.main__content {
  display: flex;
  flex-wrap: wrap;
  gap: 70px 23px;
  padding: 70px 0 97px 0;
  border-top: 1px solid #aaaaaa;
}
.main__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main__item-img {
  width: 518px;
  height: 312px;
  border-radius: 5px;
}
.main__item-title {
  color: #000;
  font-size: 32px;
}
.main__item-title span {
  color: #e11e18;
}

.item__btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.item__btns-btn {
  width: 225px;
  padding: 20px 0 19px 0;
  color: var(--txt_color-on-btn, #666);
  text-align: center;
  font-family: "Fugaz One";
  font-size: 20px;
  border-radius: 5px;
  background: #eee;
  border: none;
  outline: none;
  transition: all 0.3s ease;
  cursor: pointer;
}
.item__btns-btn:nth-child(2) {
  flex-grow: 1;
}
.item__btns-btn:hover {
  background: var(--stroke_mini_photo, #2ca7cb);
  color: var(--txt_color_second, #fff);
}

.show-more-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.show-more-btns_showmore {
  cursor: pointer;
  color: var(--txt_color_second, #fff);
  text-align: center;
  font-family: "Fugaz One";
  font-size: 32px;
  border-radius: 10px;
  background: var(--color_main, #2ca7cb);
  width: 377px;
  padding: 23px 0;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}
.show-more-btns_showmore:hover {
  background: #17cbff;
}
.show-more-btns_up {
  background: none;
  border: none;
  outline: none;
}
.show-more-btns_up img {
  display: block;
  transition: all 0.5s ease;
}
.show-more-btns_up:hover img {
  transform: translateY(-15px);
}

.second-page .main {
  padding: 120px 0;
}
.second-page .main__info {
  display: flex;
  justify-content: space-between;
}
.second-page .main__info-img {
  width: 785px;
  height: 474px;
}
.second-page .main__desc {
  padding: 120px 0;
}
.second-page .main__desc-title {
  color: #000;
  font-size: 36px;
  margin-bottom: 16px;
}
.second-page .main__desc-title span {
  color: #e11e18;
}
.second-page .main__desc-text {
  color: #000;
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 164%; /* 32.8px */
}
.second-page .main__photos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.second-page .main__photos img {
  border-radius: 5px;
}
.second-page .main__photos img:nth-child(6n+1) {
  width: 883px;
  height: 411px;
}
.second-page .main__photos img:nth-child(6n+2) {
  width: 687px;
  height: 411px;
}
.second-page .main__photos img:nth-child(6n+3) {
  width: 1598px;
  height: 570px;
}
.second-page .main__photos img:nth-child(6n+4) {
  width: 687px;
  height: 411px;
}
.second-page .main__photos img:nth-child(6n+5) {
  width: 883px;
  height: 411px;
}
.second-page .main__photos img:nth-child(6n+6) {
  width: 1598px;
  height: 666px;
}
.second-page .main__description {
  padding-top: 71px;
}
.second-page .main__description-title {
  color: #000;
  font-size: 64px;
  border-bottom: 1px solid #666;
  margin-bottom: 57px;
  padding-bottom: 11px;
}
.second-page .main__description-title span {
  color: #e11e18;
}
.second-page .main__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.second-page .main__box-img {
  width: 297px;
  height: 180px;
}
.second-page .main__speed {
  display: flex;
  padding-top: 11px;
  gap: 75px;
}
.second-page .main__speed-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #aaa;
  font-size: 20px;
  position: relative;
}
.second-page .main__speed-number span {
  color: var(--stroke_mini_photo, #2ca7cb);
  font-size: 80px;
}
.second-page .main__speed-number:first-child::after {
  content: "";
  width: 1px;
  height: 88px;
  position: absolute;
  bottom: 14px;
  right: -29px;
  z-index: 2;
  background: #666666;
}

.footer {
  background: #010b0f;
  padding: 88px 0;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logos {
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer__logos-logo {
  padding-left: 30px;
  border-left: 1px solid #ffffff;
}
.footer__company, .footer__admin {
  color: var(--txt_color_second, #fff);
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
}
.footer__admin {
  color: var(--color_second);
}

.logo {
  color: var(--txt_color_second, #fff);
  font-size: 32px;
}
.logo span {
  color: var(--color_second, #e11e18);
}

:root {
  --txt_color_second: #fff;
  --color_second: #e11e18;
  --txt_color_main: #000;
  --color_main: #2ca7cb;
  --txt_color-on-btn: #666;
  --stroke_mini_photo: #2ca7cb;
}

.popup {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup__main-photo {
  width: 961px;
  height: 480.5px;
}
.popup__menu {
  margin-top: 40.5px;
}
.popup-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.popup-menu__left, .popup-menu__right {
  width: 74px;
  height: 74px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("./../../images/arrows/ph_arrow.svg");
  transition: all 0.5s ease;
}
.popup-menu__left {
  margin-right: 40px;
}
.popup-menu__right {
  margin-left: 40px;
  transform: rotate(180deg);
}
.popup-menu__left:hover {
  transform: translateX(-10px);
}
.popup-menu__right:hover {
  transform: rotate(180deg) translateX(-10px);
}
.popup-menu__icons {
  display: flex;
  align-items: center;
  gap: 20.59px;
}
.popup-menu__icon {
  width: 106.4px;
  height: 106.4px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}
.popup-menu__icon--selected {
  border: 2px solid var(--stroke_mini_photo);
}

.admin {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
  position: relative;
}
.admin__box {
  background: #f2f2f2;
  padding-left: 36px;
}
.admin .admin__container {
  max-width: 1008px;
  width: 100%;
}

.aside {
  background: #eafaff;
  padding: 60px 36px 0 240px;
}
.aside__title {
  margin-bottom: 60px;
}
.aside__title a {
  color: #000;
  font-size: 24px;
  font-weight: 400;
}
.aside__title span {
  color: var(--color_second, #e11e18);
}
.aside__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}
.aside__item {
  padding: 17px 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  color: #000;
  font-family: "Montserrat";
  font-size: 21.6px;
  cursor: pointer;
}
.aside__item.active {
  background: #beefff;
}
.aside__item.active .aside__item-line {
  display: block;
}
.aside__item-line {
  display: none;
  width: 36px;
  height: 1.2px;
  background-color: #000;
}
.aside__logout {
  padding: 17px 36px;
}
.aside__logout-link {
  color: #f00;
  font-family: "Montserrat";
  font-size: 21.6px;
  cursor: pointer;
}

.content,
.users {
  padding-top: 46px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 48px;
}
.content__btn,
.users__btn {
  padding: 17px 70px;
  color: var(--txt_color_second, #fff);
  text-align: center;
  font-family: "Montserrat";
  font-size: 21.6px;
  font-weight: 700;
  border-radius: 6px;
  background: #29c24a;
  border: none;
  outline: none;
  transition: background 0.3s;
}
.content__btn:hover,
.users__btn:hover {
  background: #1cb03d;
}
.content__list,
.users__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 36px;
  border-radius: 6px;
  background: #fff;
}
.item__title {
  color: #000;
  font-size: 21.6px;
}
.item__title span {
  color: #e11e18;
}
.item__buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}
.item__buttons-btn {
  border: none;
  outline: none;
  background: transparent;
}
.item__buttons-btn svg path {
  transition: all 0.3s;
}
.item__buttons-btn:not(.active):hover svg path {
  stroke: #e11e18;
}
.item__buttons-btn_eye:not(.active):hover svg path {
  fill: #e11e18;
  stroke: unset;
}
.item__views {
  color: var(--txt_color, #000);
  font-size: 24px;
}

.analytics {
  padding-top: 60px;
  flex-direction: column;
  gap: 60px;
}
.analytics__statistics {
  display: flex;
  align-items: center;
  gap: 44px;
  font-size: 24px;
  font-weight: 400;
  color: var(--txt_color, #000);
}
.analytics__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content,
.analytics,
.users {
  display: none;
}
.content.active,
.analytics.active,
.users.active {
  display: flex;
}

.admin-popup {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-popup__box {
  border-radius: 5px;
  background: var(--txt_color_second, #fff);
  padding: 37px 35px 31px 32px;
  position: relative;
}

.add-car-popup__title,
.edit-car-popup__title {
  color: var(--txt_color, #000);
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  width: 344px;
  margin-bottom: 26px;
}
.add-car-popup__title span,
.edit-car-popup__title span {
  color: var(--txt_color, #ff0b0b);
}
.add-car-popup__form,
.edit-car-popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
}
.add-car-popup__content,
.edit-car-popup__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 17px;
}
.add-car-popup__inputs,
.edit-car-popup__inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 264px;
}
.add-car-popup__btns,
.edit-car-popup__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.add-car-popup__btns-btn,
.edit-car-popup__btns-btn {
  width: 100%;
  padding: 13px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #000;
  background: #f2f2f2;
  color: #aaa;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  outline: none;
  transition: all 0.3s;
}
.add-car-popup__btns-btn.active,
.edit-car-popup__btns-btn.active {
  background: #2ca7cb;
  border: none;
  color: #eee;
}
.add-car-popup__btns-btn:hover:not(.active),
.edit-car-popup__btns-btn:hover:not(.active) {
  background: #75e0ff;
  color: #eee;
}

.popup__input {
  width: 100%;
  padding: 13px 8px;
  border-radius: 5px;
  border: 1px solid var(--txt_color, #000);
  background: #f2f2f2;
  color: #000;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
}
.popup__input::-moz-placeholder {
  color: #aeaeae;
}
.popup__input::placeholder {
  color: #aeaeae;
}
.popup__input_description {
  height: 139px;
  resize: none;
  font-size: 14px;
}
.popup__input_number {
  color: var(--txt_color, #ff0b0b);
}
.popup__input_number::-moz-placeholder {
  color: #eda8a8;
}
.popup__input_number::placeholder {
  color: #eda8a8;
}
.popup__input_acceleration {
  font-size: 14px;
}
.popup__input_speed {
  font-size: 14px;
}
.popup__photo {
  width: 229px;
  min-height: 194px;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  padding: 13px 13px 53px;
  border-radius: 5px;
  background: #e4e4e4;
}
.popup__photo-item {
  width: 55px;
  height: 55px;
  border-radius: 5px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
}
.popup__photo-item:hover img {
  filter: brightness(0.6);
}
.popup__photo-item img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
.popup__photo-item:first-child {
  border: 2px solid #ff0b0b;
}
.popup__photo-item_delete {
  display: none;
  position: absolute;
  font-size: 80px;
  color: #ff0b0b;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%) rotate(45deg);
  font-family: "Montserrat";
  transition: all 0.3s;
}
.popup__photo-item:hover .popup__photo-item_delete {
  display: block;
}
.popup__photo-btn {
  border-radius: 5px;
  background: var(--txt_color_second, #fff);
  width: 55px;
  height: 55px;
  color: #75e0ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  font-size: 75px;
}
.popup__form-btn {
  width: 190px;
  padding: 14px 0;
  border-radius: 5px;
  background: #29c24a;
  color: var(--txt_color_second, #fff);
  text-align: center;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  border: none;
  outline: none;
  transition: background 0.3s;
}
.popup__form-btn:hover {
  background: #1cb03d;
}
.popup__close {
  position: absolute;
  top: 13px;
  right: 11px;
  z-index: 5;
  background: transparent;
  border: none;
  outline: none;
  transition: stroke 0.3s;
}
.popup__close:hover svg path {
  stroke: #e11e18;
}

.edit-car-popup__title {
  color: var(--txt_color, #000);
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 70px;
}
.edit-car-popup__title span {
  color: var(--txt_color, #000);
  font-weight: 700;
}

.user-popup__title {
  color: var(--txt_color, #000);
  font-family: "Montserrat";
  font-size: 18px;
  margin-bottom: 47px;
}
.user-popup__title span {
  font-weight: 700;
}
.user-popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-popup__inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  margin-bottom: 37px;
}

.permision {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 54px;
}
.permision__title {
  color: #ff0b0b;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.permision__box {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 22px;
  -moz-column-gap: 36px;
       column-gap: 36px;
  justify-content: center;
}
.permision__item {
  width: 182px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.permision__item span {
  color: var(--txt_color, #000);
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
}
.permision__item-checkbox {
  border: none;
  border-radius: 5px;
  background: #f2f2f2;
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.permision__item-checkbox.active {
  background: #75e0ff;
}

.delete-popup__box {
  width: 600px;
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 23px;
}
.delete-popup__title {
  color: var(--txt_color, #000);
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
}
.delete-popup__btns {
  display: flex;
  align-items: center;
  gap: 15px;
}
.delete-popup__btns-btn {
  border-radius: 5px;
  display: flex;
  width: 190px;
  padding: 14px 0px;
  justify-content: center;
  align-items: center;
  color: var(--txt_color_second, #fff);
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  border: none;
  outline: none;
}
.delete-popup__btns-btn_yes {
  background: #2ca7cb;
}
.delete-popup__btns-btn_no {
  border: 1px solid var(--txt_color, #000);
  background: #cecece;
}

.eye__close {
  display: none;
}
.eye.active .eye__close {
  display: block;
}
.eye.active .eye__open {
  display: none;
}

.user-popup,
.edit-car-popup,
.add-car-popup,
.edit-user-popup,
.delete-popup {
  display: none;
}

.login {
  height: 100vh;
  background: #EAFAFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
}
.login__title {
  color: var(--txt_color, #000);
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 236px;
}
.login__title span {
  color: var(--color_second, #E11E18);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.form__input {
  width: 430px;
  padding: 16px 10px;
  border-radius: 6px;
  border: 1.2px solid var(--txt_color, #000);
  background: #F2F2F2;
  font-family: "Montserrat";
  font-size: 21px;
}
.form__input::-moz-placeholder {
  font-weight: 700;
  color: #AAA;
}
.form__input::placeholder {
  font-weight: 700;
  color: #AAA;
}
.form__btn {
  margin-top: 10px;
  padding: 17px 0;
  width: 228px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: #29C24A;
  color: var(--txt_color_second, #FFF);
  font-family: "Montserrat";
  font-size: 21.6px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  outline: none;
  transition: background 0.3s;
}
.form__btn:hover {
  background: #1CB03D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Fugaz One";
  font-weight: 400;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 700px) and (max-width: 985px) {
  .popup__main-photo {
    width: 600.625px;
    height: 300.3125px;
  }
  .popup-menu__icon {
    width: 66.5px;
    height: 66.5px;
  }
  .popup-menu__right,
  .popup-menu__left {
    width: 66.5px;
    height: 66.5px;
    background-size: contain;
  }
  .popup-menu__left {
    margin-right: 0px;
  }
  .popup-menu__right {
    margin-left: 0px;
  }
}
@media (min-width: 525px) and (max-width: 700px) {
  .popup__main-photo {
    width: 480.5px;
    height: 240.25px;
  }
  .popup-menu__icon {
    width: 53.2px;
    height: 53.2px;
  }
  .popup-menu__right,
  .popup-menu__left {
    width: 53.2px;
    height: 53.2px;
    background-size: contain;
  }
  .popup-menu__left {
    margin-right: 0px;
  }
  .popup-menu__right {
    margin-left: 0px;
  }
}
@media (min-width: 460px) and (max-width: 525px) {
  .popup__main-photo {
    width: 417.8260869565px;
    height: 208.9130434783px;
  }
  .popup-menu__icon {
    width: 53.2px;
    height: 53.2px;
  }
  .popup-menu__right,
  .popup-menu__left {
    width: 53.2px;
    height: 53.2px;
    background-size: contain;
  }
  .popup-menu__left {
    margin-right: 0px;
  }
  .popup-menu__right {
    margin-left: 0px;
  }
  .popup-menu__icon:nth-child(2n) {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 460px) {
  .popup__main-photo {
    width: 310px;
    height: 155px;
  }
  .popup-menu__icon {
    width: 53.2px;
    height: 53.2px;
  }
  .popup-menu__right,
  .popup-menu__left {
    width: 53.2px;
    height: 53.2px;
    background-size: contain;
  }
  .popup-menu__left {
    margin-right: 0px;
  }
  .popup-menu__right {
    margin-left: 0px;
  }
  .popup-menu__icon:nth-child(2n) {
    display: none;
  }
}
@media (min-width: 1380px) and (max-width: 1700px) {
  .second-page .container {
    max-width: 1306px;
  }
  .second-page .main__item {
    width: 420px;
  }
}
@media (min-width: 1313px) and (max-width: 1380px) {
  .second-page .container {
    max-width: 1163px;
  }
  .second-page .header__image {
    padding: 0px 0 30px 0;
  }
  .second-page .main {
    padding: 70px 0 90px 0;
  }
  .second-page .main__filter-btn {
    padding: 24px 0 24px;
  }
  .second-page .main__content {
    gap: 50px 23px;
  }
  .second-page .main__item-title {
    font-size: 24px;
  }
  .second-page .main__item {
    width: 370px;
  }
  .second-page .item__btns-btn {
    width: 120px;
  }
  .second-page .show-more-btns_showmore {
    padding: 20px;
  }
}
@media (min-width: 991px) and (max-width: 1313px) {
  .second-page .container {
    max-width: 937px;
  }
  .second-page .header__image {
    padding: 0px 0 30px 0;
  }
  .second-page .header__image > img {
    width: 850px;
  }
  .second-page .item__btns-btn {
    width: 120px;
  }
  .second-page .main {
    padding: 70px 0 90px 0;
  }
  .second-page .main__filter-btn {
    padding: 24px 0 24px;
  }
  .second-page .main__content {
    gap: 50px 23px;
  }
  .second-page .main__item-title {
    font-size: 24px;
  }
  .second-page .main__item {
    width: 457px;
  }
}
@media (min-width: 812px) and (max-width: 990px) {
  .second-page .container {
    max-width: 720px;
  }
  .second-page .header {
    background-size: cover;
  }
  .second-page .header__nav {
    padding-bottom: 39px;
  }
  .second-page .header__image {
    padding: 0px 0 151px 0;
  }
  .second-page .header__search {
    width: 300px;
    height: 63px;
    padding: 19px 30px 20px 22px;
  }
  .second-page .header__image > img {
    width: 700px;
    height: 249px;
  }
  .second-page .item__btns-btn {
    width: 225px;
  }
  .second-page .btn-specifications {
    width: 274px;
  }
  .second-page .main {
    padding: 110px 0 110px 0;
  }
  .second-page .main__filter {
    margin-bottom: 110px;
    flex-direction: column;
  }
  .second-page .main__filter-btn {
    width: 720px;
    height: 85px;
    padding: 28px 0px 10px 0px;
  }
  .second-page .main__content {
    padding: 110px 0 110px 0;
    justify-content: center;
    gap: 23px 23px;
  }
  .second-page .main__item-title {
    font-size: 24px;
  }
  .second-page .main__item {
    width: 518px;
  }
  .second-page .footer {
    padding: 84.5px 0px;
  }
}
@media (min-width: 570px) and (max-width: 811px) {
  .second-page .container {
    max-width: 518px;
  }
  .second-page .header {
    background-size: cover;
  }
  .second-page .header__nav {
    padding-bottom: 39px;
  }
  .second-page .header__image {
    padding: 0px 0 151px 0;
  }
  .second-page .header__search {
    background: none;
    width: 0px;
    height: 63px;
    padding: 0px;
  }
  .second-page .header__search-desktop {
    display: none;
  }
  .second-page .header__search-mobile {
    display: block;
  }
  .second-page .header__image > img {
    width: 420px;
    height: 149.4px;
  }
  .second-page .item__btns-btn {
    width: 225px;
  }
  .second-page .btn-specifications {
    width: 274px;
  }
  .second-page .header__search-input {
    display: none;
  }
  .second-page .header__search-mobile {
    transform: translateX(-43px);
  }
  .second-page .main {
    padding: 110px 0 110px 0;
  }
  .second-page .main__filter {
    margin-bottom: 110px;
    flex-direction: column;
  }
  .second-page .main__filter-btn {
    width: 518px;
    height: 85px;
    padding: 28px 0px 10px 0px;
  }
  .second-page .main__content {
    padding: 110px 0 110px 0;
    justify-content: center;
    gap: 23px 23px;
  }
  .second-page .main__item-title {
    font-size: 24px;
  }
  .second-page .main__item {
    width: 518px;
  }
  .second-page .footer {
    padding: 46px 0px 99px 0px;
  }
  .second-page .footer__content {
    flex-direction: column;
  }
}
@media (min-width: 420px) and (max-width: 569px) {
  .second-page .container {
    max-width: 320px;
  }
  .second-page .header {
    background-size: cover;
  }
  .second-page .header__nav {
    padding-bottom: 39px;
  }
  .second-page .header__image {
    padding: 0px 0 60px 0;
  }
  .second-page .header__search {
    background: none;
    width: 0px;
    height: 63px;
    padding: 0px;
  }
  .second-page .header__search-desktop {
    display: none;
  }
  .second-page .header__search-mobile {
    display: block;
  }
  .second-page .header__image > img {
    width: 420px;
    height: 149.4px;
  }
  .second-page .header__search-input {
    display: none;
  }
  .second-page .header__search-mobile {
    transform: translateX(-43px);
  }
  .second-page .main {
    padding: 60px 0 60px 0;
  }
  .second-page .main__filter {
    margin-bottom: 30px;
    flex-direction: column;
  }
  .second-page .main__filter-btn {
    display: flex;
    width: 320px;
    height: 52px;
    padding: 11px 0px 15px 0px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  .second-page .main__content {
    padding: 30px 0 30px 0;
    justify-content: center;
    gap: 23px 23px;
  }
  .second-page .main__item-title {
    font-size: 18px;
  }
  .second-page .main__item {
    width: 518px;
  }
  .second-page .item__btns-btn {
    display: flex;
    width: 136px;
    height: 68px;
    padding: 20px 42px 22px 41px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  .second-page .show-more-btns_showmore {
    display: flex;
    width: 195px;
    height: 93px;
    padding: 0px 40px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  .second-page .footer {
    padding: 46px 0px 99px 0px;
  }
  .second-page .footer__content {
    flex-direction: column;
  }
  .second-page .footer__company {
    margin-top: 43px;
  }
  .second-page .footer__logos > a > img {
    width: 63px;
    height: 40px;
  }
  .second-page .footer__logos-logo {
    font-size: 18px;
  }
}
@media (min-width: 320px) and (max-width: 419px) {
  .second-page .container {
    max-width: 280px;
  }
  .second-page .header {
    background-size: cover;
  }
  .second-page .header__nav {
    padding-bottom: 39px;
  }
  .second-page .header__image {
    padding: 0px 0 60px 0;
  }
  .second-page .header__search {
    background: none;
    width: 0px;
    height: 63px;
    padding: 0px;
  }
  .second-page .header__search-desktop {
    display: none;
  }
  .second-page .header__search-mobile {
    display: block;
  }
  .second-page .header__image > img {
    width: 280px;
    height: 99.6px;
  }
  .second-page .header__search-input {
    display: none;
  }
  .second-page .header__search-mobile {
    transform: translateX(-43px);
  }
  .second-page .main {
    padding: 60px 0 60px 0;
  }
  .second-page .main__filter {
    margin-bottom: 30px;
    flex-direction: column;
  }
  .second-page .main__filter-btn {
    display: flex;
    width: 290px;
    height: 52px;
    padding: 11px 0px 15px 0px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  .second-page .main__content {
    padding: 30px 0 30px 0;
    justify-content: center;
    gap: 23px 23px;
  }
  .second-page .main__item-title {
    font-size: 18px;
  }
  .second-page .main__item {
    width: 518px;
  }
  .second-page .item__btns-btn {
    display: flex;
    width: 103px;
    height: 68px;
    padding: 20px 42px 22px 41px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  .second-page .show-more-btns_showmore {
    display: flex;
    width: 195px;
    height: 93px;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  .second-page .footer {
    padding: 46px 0px 99px 0px;
  }
  .second-page .footer__content {
    flex-direction: column;
  }
  .second-page .footer__company {
    margin-top: 43px;
  }
  .second-page .footer__logos > a > img {
    width: 63px;
    height: 40px;
  }
  .second-page .footer__logos-logo {
    font-size: 18px;
  }
}
@media (min-width: 1380px) and (max-width: 1700px) {
  .container {
    max-width: 1306px;
  }
  .main__item {
    width: 420px;
  }
  .main__item-img {
    width: 420px;
    height: 240px;
  }
}
@media (min-width: 1313px) and (max-width: 1380px) {
  .container {
    max-width: 1163px;
  }
  .header__image {
    padding: 0px 0 30px 0;
  }
  .main {
    padding: 70px 0 90px 0;
  }
  .main__filter-btn {
    padding: 24px 0 24px;
  }
  .main__content {
    gap: 50px 23px;
  }
  .main__item-title {
    font-size: 24px;
  }
  .main__item-img {
    width: 370px;
    height: 240px;
  }
  .item__btns-btn {
    width: 120px;
  }
  .show-more-btns_showmore {
    padding: 20px;
  }
}
@media (min-width: 991px) and (max-width: 1313px) {
  .container {
    max-width: 937px;
  }
  .header__image {
    padding: 0px 0 30px 0;
  }
  .header__image > img {
    width: 850px;
  }
  .item__btns-btn {
    width: 120px;
  }
  .main {
    padding: 70px 0 90px 0;
  }
  .main__filter-btn {
    padding: 24px 0 24px;
  }
  .main__content {
    gap: 50px 23px;
  }
  .main__item-title {
    font-size: 24px;
  }
  .main__item-img {
    width: 457px;
    height: 274px;
  }
}
@media (min-width: 812px) and (max-width: 990px) {
  .container {
    max-width: 720px;
  }
  .header {
    background-size: cover;
  }
  .header__nav {
    padding-bottom: 39px;
  }
  .header__image {
    padding: 0px 0 151px 0;
  }
  .header__search {
    width: 300px;
    height: 63px;
    padding: 19px 30px 20px 22px;
  }
  .header__image > img {
    width: 700px;
    height: 249px;
  }
  .item__btns-btn {
    width: 225px;
  }
  .btn-specifications {
    width: 274px;
  }
  .main {
    padding: 110px 0 110px 0;
  }
  .main__filter {
    margin-bottom: 110px;
    flex-direction: column;
  }
  .main__filter-btn {
    width: 720px;
    height: 85px;
    padding: 10px 0px 10px 0px;
  }
  .main__content {
    padding: 110px 0 110px 0;
    justify-content: center;
    gap: 23px 23px;
  }
  .main__item-title {
    font-size: 24px;
  }
  .main__item {
    width: 518px;
  }
  .footer {
    padding: 84.5px 0px;
  }
}
@media (min-width: 570px) and (max-width: 811px) {
  .container {
    max-width: 518px;
  }
  .header {
    background-size: cover;
  }
  .header__nav {
    padding-bottom: 39px;
  }
  .header__image {
    padding: 0px 0 151px 0;
  }
  .header__search {
    background: none;
    width: 0px;
    height: 63px;
    padding: 0px;
  }
  .header__search-desktop {
    display: none;
  }
  .header__search-mobile {
    display: block;
  }
  .header__image > img {
    width: 420px;
    height: 149.4px;
  }
  .item__btns-btn {
    width: 225px;
  }
  .btn-specifications {
    width: 274px;
  }
  .header__search-input {
    display: none;
  }
  .header__search-mobile {
    transform: translateX(-43px);
  }
  .main {
    padding: 110px 0 110px 0;
  }
  .main__filter {
    margin-bottom: 110px;
    flex-direction: column;
  }
  .main__filter-btn {
    width: 518px;
    height: 85px;
    padding: 10px 0px 10px 0px;
  }
  .main__content {
    padding: 110px 0 110px 0;
    justify-content: center;
    gap: 23px 23px;
  }
  .main__item-title {
    font-size: 24px;
  }
  .main__item {
    width: 518px;
  }
  .footer {
    padding: 46px 0px 99px 0px;
  }
  .footer__content {
    flex-direction: column;
  }
  .footer__company, .footer__admin {
    margin-top: 43px;
  }
}
@media (min-width: 420px) and (max-width: 569px) {
  .container {
    max-width: 320px;
  }
  .header {
    background-size: cover;
  }
  .header__nav {
    padding-bottom: 39px;
  }
  .header__image {
    padding: 0px 0 60px 0;
  }
  .header__search {
    background: none;
    width: 0px;
    height: 63px;
    padding: 0px;
  }
  .header__search-desktop {
    display: none;
  }
  .header__search-mobile {
    display: block;
  }
  .header__image > img {
    width: 420px;
    height: 149.4px;
  }
  .header__search-input {
    display: none;
  }
  .header__search-mobile {
    transform: translateX(-43px);
  }
  .main {
    padding: 60px 0 60px 0;
  }
  .main__filter {
    margin-bottom: 30px;
    flex-direction: column;
  }
  .main__filter-btn {
    display: flex;
    width: 320px;
    height: 52px;
    padding: 15px 0px 15px 0px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  .main__content {
    padding: 30px 0 30px 0;
    justify-content: center;
    gap: 23px 23px;
  }
  .main__item-title {
    font-size: 18px;
  }
  .main__item img {
    width: 320px;
    height: 208px;
  }
  .item__btns-btn {
    display: flex;
    width: 136px;
    height: 68px;
    padding: 20px 42px 22px 41px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  .show-more-btns_showmore {
    display: flex;
    width: 195px;
    height: 93px;
    padding: 0px 40px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  .footer {
    padding: 46px 0px 99px 0px;
  }
  .footer__content {
    flex-direction: column;
  }
  .footer__company, .footer__admin {
    margin-top: 43px;
  }
  .footer__logos > a > img {
    width: 63px;
    height: 40px;
  }
  .footer__logos-logo {
    font-size: 18px;
  }
}
@media (min-width: 320px) and (max-width: 419px) {
  .container {
    max-width: 280px;
  }
  .header {
    background-size: cover;
  }
  .header__nav {
    padding-bottom: 39px;
  }
  .header__image {
    padding: 0px 0 60px 0;
  }
  .header__search {
    background: none;
    width: 0px;
    height: 63px;
    padding: 0px;
  }
  .header__search-desktop {
    display: none;
  }
  .header__search-mobile {
    display: block;
  }
  .header__image > img {
    width: 280px;
    height: 99.6px;
  }
  .header__search-input {
    display: none;
  }
  .header__search-mobile {
    transform: translateX(-43px);
  }
  .main {
    padding: 60px 0 60px 0;
  }
  .main__filter {
    margin-bottom: 30px;
    flex-direction: column;
  }
  .main__filter-btn {
    display: flex;
    width: 290px;
    height: 52px;
    padding: 15px 0px 15px 0px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  .main__content {
    padding: 30px 0 30px 0;
    justify-content: center;
    gap: 23px 23px;
  }
  .main__item-title {
    font-size: 18px;
  }
  .main__item img {
    width: 280px;
    height: 156px;
  }
  .item__btns-btn {
    display: flex;
    width: 103px;
    height: 68px;
    padding: 20px 42px 22px 41px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  .show-more-btns_showmore {
    display: flex;
    width: 195px;
    height: 93px;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  .footer {
    padding: 46px 0px 99px 0px;
  }
  .footer__content {
    flex-direction: column;
  }
  .footer__company {
    margin-top: 43px;
  }
  .footer__logos > a > img {
    width: 63px;
    height: 40px;
  }
  .footer__logos-logo {
    font-size: 18px;
  }
}/*# sourceMappingURL=style.css.map */