@media (min-width: 700px) and (max-width: 985px) {
  .popup__main-photo {
    width: 653.625px;
    height: calc(480.5px / 1.6);
  }
  .popup-menu__icon {
    width: calc(106.4px / 1.6);
    height: calc(106.4px / 1.6);
  }
  .popup-menu__right,
  .popup-menu__left {
    width: calc(106.4px / 1.6);
    height: calc(106.4px / 1.6);
    background-size: contain;
  }
  .popup-menu__left {
    margin-right: 0px;
  }
  .popup-menu__right {
    margin-left: 0px;
  }
}
@media (min-width: 525px) and (max-width: 700px) {
  .popup__main-photo {
    width: 546.5px;
    height: calc(480.5px / 2);
  }
  .popup-menu__icon {
    width: calc(106.4px / 2);
    height: calc(106.4px / 2);
  }
  .popup-menu__right,
  .popup-menu__left {
    width: calc(106.4px / 2);
    height: calc(106.4px / 2);
    background-size: contain;
  }
  .popup-menu__left {
    margin-right: 0px;
  }
  .popup-menu__right {
    margin-left: 0px;
  }
}
@media (min-width: 460px) and (max-width: 525px) {
  .popup__close-image {
    width: 20px;
  }
  .popup__main-photo {
    width: calc(961px / 2.9);
    height: calc(480.5px / 2.9);
  }
  .popup-menu__icon {
    width: calc(106.4px / 2);
    height: calc(106.4px / 2);
  }
  .popup-menu__right,
  .popup-menu__left {
    width: calc(106.4px / 2);
    height: calc(106.4px / 2);
    background-size: contain;
  }
  .popup-menu__left {
    margin-right: 0px;
  }
  .popup-menu__right {
    margin-left: 0px;
  }
  .popup-menu__icon:nth-child(2n) {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 460px) {
  .popup__close-image {
    width: 20px;
  }
  .popup-menu__icons {
    gap: 9px;
  }
  .popup__main-photo {
    width: calc(961px / 3.1);
    height: calc(480.5px / 3.1);
  }
  .popup-menu__icon {
    width: calc(106.4px / 2);
    height: calc(106.4px / 2);
  }
  .popup-menu__right,
  .popup-menu__left {
    width: calc(106.4px / 2);
    height: calc(106.4px / 2);
    background-size: contain;
  }
  .popup-menu__left {
    margin-right: 0px;
  }
  .popup-menu__right {
    margin-left: 0px;
  }
  .popup-menu__icon:nth-child(2n) {
    display: none;
  }
}
