@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

    @import "./_variables";
    @import "./components/login";
    @import "./components/_admin";
    @import "./components/_car-item";
    @import "./components/_header";
    @import "./components/_main";
    @import "./components/_footer";
    @import "./components/_overlay";
    @import "./components/_search-block";
    @import "./components/_popup";
    @import "./components/search-field";

// Second page imports
@import "./components/info-page/header-info";
@import "./components/info-page/main-info";

// Adaptive import
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
body {
    font-family: "Fugaz One";
    font-weight: 400;
}

.container {
    width: 100%;
    max-width: 1600px;
}
body .container {
    margin: 0 auto;
}
