$color-highlight: #ff0b0b;
$color-non-active: #aaaaaa;

$color-success: #29c24a;
$color-active: #2ca7cb;
$color-dark: #000000;
$color-light: #ffffff;
$background-color: #eafaff;
$background-color-neutral: #f2f2f2;
