$color-highlight: #ff0b0b;
$color-non-active: #aaaaaa;

$color-success: #29c24a;
$color-active: #2ca7cb;
$color-active-neutral: #beefff;

$color-dark: #000000;
$color-light: #ffffff;

$background-color: #eafaff;
$background-color-neutral: #f2f2f2;

@mixin page-settings() {
    flex-grow: 10;
    background-color: $background-color-neutral;
}

@mixin button-styles() {
    cursor: pointer;
    border: none;
    font-size: 22px;
    font-weight: bold;
    background-color: $color-success;
    border-radius: 6px;
    width: 228px;
    height: 60px;
    color: $color-light;
    transition: 0.3s;
    &:hover {
        background-color: rgba($color-success, 0.9);
    }
}

@mixin popup-styles($z-index, $width, $height) {
    width: $width;
    height: $height;
    padding: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: $color-light;
    border-radius: 6px;
    z-index: $z-index;
}

@mixin close-styles() {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 13px;
    right: 13px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        transform: scale(1.2);
    }
}

@mixin input-styles() {
    width: 224px;
    height: 48px;
    padding: 13px 8px;
    font-size: 18px;
    border-radius: 6px;
    font-weight: bold;
    background-color: $background-color-neutral;
    border: 1px solid $color-dark;
    &:focus {
        outline: none;
    }
}
