@import "../../../../styles/variables.scss";

.admin-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    height: 60px;
    border-radius: 6px;
    background-color: $color-light;
    font-size: 22px;
    padding-left: 36px;
    &--root-admin {
        color: $color-light;
        background-color: rgba($color-dark, 0.7);
    }
    &__buttons {
        display: flex;
        margin-right: 36px;
        gap: 8px;
        &-button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            & img {
                width: 34px;
                height: 34px;
            }
        }
    }
}
