.car-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 518px;
    height: 457px;
    &__img {
        width: 518px;
        height: 312px;
        border-radius: 5px;
    }
    &__title {
        color: #000;
        font-size: 32px;
        & span {
            color: #e11e18;
        }
    }
    &__btns {
        display: flex;
        align-items: center;
        gap: 20px;
        &-btn {
            width: 225px;
            padding: 20px 0 19px 0;
            color: var(--txt_color-on-btn, #666);
            text-align: center;
            font-family: "Fugaz One";
            font-size: 20px;
            border-radius: 5px;
            background: #eee;
            border: none;
            outline: none;
            transition: all 0.3s ease;
            cursor: pointer;
            &:nth-child(2) {
                flex-grow: 1;
            }
            &:hover {
                background: var(--stroke_mini_photo, #2ca7cb);
                color: var(--txt_color_second, #fff);
            }
        }
    }
}
@media (min-width: 1280px) and (max-width: 1600px) {
    .car-item {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 30vw;
        height: 40vh;
        margin-bottom: 50px;
        &__img {
            width: 30vw;
            height: 27.3vh;
            border-radius: 5px;
        }
        &__title {
            font-size: 1.6em;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .car-item {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 30vw;
        height: 40vh;
        margin-bottom: 50px;
        &__img {
            width: 30vw;
            height: 23.9vh;
            border-radius: 5px;
        }
        &__title {
            font-size: 1.6em;
        }
    }
}

@media (min-width: 991px) and (max-width: 1023px) {
    .car-item {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 30vw;
        height: 38vh;
        margin-bottom: 15px;
        &__img {
            width: 30vw;
            height: 21.9vh;
            border-radius: 5px;
        }
        &__title {
            font-size: 1.6em;
        }
    }
}
@media (min-width: 480px) and (max-width: 990px) {
    .car-item {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 72.8vw;
        height: auto;
        &__img {
            width: 72.8vw;
            height: auto;
            border-radius: 5px;
        }
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .car-item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 90vw;
        height: auto;
        &__img {
            width: 90vw;
            height: auto;
            border-radius: 5px;
        }
        &__title {
            font-size: 28px;
        }
        &__btns {
            &-btn {
                font-size: 16px;
            }
        }
    }
}
