.footer {
    background: #010b0f;
    padding: 88px 0;
    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 145px;
    }
    &__logos {
      display: flex;
      align-items: center;
      gap: 30px;
        &-logo {
            padding-left: 30px;
            border-left: 1px solid #ffffff;
            margin: 0;
      }
    }
    &__company,
    &__admin {
      color: var(--txt_color_second, #fff);
      font-family: "Montserrat";
      font-size: 20px;
      font-weight: 700;
    }
    &__admin {
      color: var(--color_second);
    }
  }