@mixin header {
    background-repeat: no-repeat;
    background-position: center;
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;
    }
    &__image {
        padding: 32px 0 144px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.header {
    background: url("../images/header_background.webp"), #03070a 50%;
    @include header;
}

.logo {
    color: var(--txt_color_second, #fff);
    font-size: 32px;
    & span {
        transition: color 0.4s ease-in-out;
        color: var(--color_second, #e11e18);
    }
    &:hover span {
        color: var(--txt_color_second, #fff) !important;
    }
}



@media (min-width: 1281px) and (max-width: 1600px) {
    .header {
        &__nav {            
            margin: 0 162px;
        }
        &__image {
            & img {
                width: 1000px;
            }
        }
    }
    
}

@media (min-width: 769px) and (max-width: 1280px) {
    .header {
        &__nav {            
            margin: 0 50px;
        }
        &__image {
            margin: 0 145px;
            & img {
                width: 700px;
            }
        }
    }
    .logo {
        color: var(--txt_color_second, #fff);
        font-size: 32px;
        & span {
            color: var(--color_second, #e11e18);
        }
    }
    
}

@media (min-width: 480px) and (max-width: 768px) {
    .header {
        &__nav {            
            display: block;
            text-align: center;
        }
        &__image {
            margin: 0 145px;
            & img {
                width: 90vw;
            }
        }
    }
}

@media (min-width: 280px) and (max-width: 480px) {
    .header {
        &__nav {            
            display: block;
            text-align: center;
        }
        &__image {
            margin: 0 145px;
            & img {
                width: 90vw;
            }
        }
    }
}
