.login {
  height: 100vh;
  background: #eafaff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
  &__title {
    color: var(--txt_color, #000);
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 236px;
    & span {
      color: var(--color_second, #e11e18);
    }
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  &__input {
    width: 430px;
    padding: 16px 10px;
    border-radius: 6px;
    border: 1.2px solid var(--txt_color, #000);
    background: #f2f2f2;
    font-family: "Montserrat";
    font-size: 21px;
    &::placeholder {
      font-weight: 700;
      color: #aaa;
    }
  }
  &__btn {
    margin-top: 10px;
    padding: 17px 0;
    width: 228px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: #29c24a;
    color: var(--txt_color_second, #fff);
    font-family: "Montserrat";
    font-size: 21.6px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    outline: none;
    transition: background 0.3s;
    &:hover {
      background: #1cb03d;
    }
  }
}
