.main {
    padding: 110px 0 123px 0;
    background: var(--txt_color_second, #fff);
    &__filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 23px;
        margin: 0 0 70px 0;
        &-btn {
            width: 518px;
            padding: 36px 0 36px;
            border-radius: 5px;
            border: 1px solid #2ca7cb;
            background: transparent;
            color: var(--txt_color_main, #000);
            text-align: center;
            font-size: 32px;
            font-family: "Fugaz One";
            transition: all 0.3s ease;
            &:hover {
                cursor: pointer;
            }
            &.active {
                color: var(--txt_color_second, #fff);
                background: var(--color_main, #2ca7cb);
            }
            &:not(.active):hover {
                border: 1px solid var(--color_second, #e11e18);
                background: rgba(44, 167, 203, 0.1);
            }
        }
    }
    &__content {
        border-top: 1px solid #aaaaaa;
        display: grid;
        @include grid-template;
        margin: 0;
        gap: 70px 22px;
    }
}
.show-more-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__showmore,
    &__hide {
        cursor: pointer;
        color: var(--txt_color_second, #fff);
        text-align: center;
        font-family: "Fugaz One";
        font-size: 32px;
        border-radius: 10px;
        width: 22vw;
        padding: 23px 0;
        border: none;
        outline: none;
        transition: all 0.3s ease;
    }
    &__addaptive {
        display: flex;
        gap: 0 30px;
    }
    &__showmore {
        margin-right: 290px;
        background: var(--color_main, #2ca7cb);
        &:hover {
            background: #17cbff;
        }
    }
    &__hide {
        background: var(--color_second, #e11e18);
        display: none;
        &:hover {
            background: #ff5656;
        }
    }
    &__up {
        background: none;
        border: none;
        outline: none;

        & img {
            display: block;
            transition: all 0.5s ease;
        }
        &:hover {
            & img {
                transform: translateY(-15px);
                cursor: pointer;
            }
        }
    }
}

@media (min-width: 991px) and (max-width: 1600px) {
    body .container {
        padding-top: 0px !important;
    }
    .main {
        padding: 110px 0 123px 0;
        background: var(--txt_color_second, #fff);
        &__filter {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 95vw;
            gap: 23px;
            margin: 0 auto 70px auto;
        }
        &__content {
            border-top: 1px solid #aaaaaa;
            grid-template-columns: repeat(3, auto);
            align-items: center;
            justify-items: center;
            padding: 70px 0 97px 0;
            gap: 20px 22px;
            width: 95vw;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .show-more-btns {
        width: 95vw;
        margin-left: auto;
        margin-right: auto;
        &__showmore,
        &__hide {
            cursor: pointer;
            color: var(--txt_color_second, #fff);
            text-align: center;
            font-family: "Fugaz One";
            font-size: 32px;
            border-radius: 10px;
            width: 22vw;
            padding: 23px 0;
            border: none;
            outline: none;
            transition: all 0.3s ease;
        }
    }
}

@media (min-width: 480px) and (max-width: 990px) {
    body .container {
        padding-top: 0px !important;
    }
    .main {
        width: auto;
        &__filter {
            display: grid;
            grid-template-columns: 1;
            justify-content: center;
            &-btn {
                width: 72.8vw;
                height: 10vh;
                padding: 0;
            }
        }
        &__content {
            display: grid;
            grid-template-columns: repeat(1, auto);
            width: 72.8vw;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .show-more-btns {
        display: flex;
        justify-content: space-between;
        width: 72.8vw;
        margin: 0 auto;
        &__addaptive {
            display: block;
            margin: 0;
            padding: 0;
        }
        &__showmore {
            height: 10vh;
            width: 40vw;
            font-size: 5vw;
            margin: 10px 0 0 0;
            padding: 14px 0;
        }
        &__hide {
            height: 10vh;
            width: 40vw;
            font-size: 5vw;
            margin: 0;
        }
        &__up {
            margin: 0;
        }
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    body .container {
        padding-top: 0px !important;
    }
    .main {
        width: auto;
        &__filter {
            display: grid;
            grid-template-columns: 1;
            justify-content: center;
            &-btn {
                width: 90vw;
                height: 10vh;
                padding: 0;
            }
        }
        &__content {
            display: grid;
            grid-template-columns: repeat(1, auto);
            width: 90vw;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .show-more-btns {
        display: flex;
        justify-content: space-between;
        width: 90vw;
        margin: 0 auto;
        &__addaptive {
            display: block;
            margin: 0;
            padding: 0;
        }
        &__showmore {
            height: 10vh;
            width: 40vw;
            font-size: 24px;
            margin: 10px 0 0 0;
            padding: 14px 0;
        }
        &__hide {
            height: 10vh;
            width: 40vw;
            font-size: 32px;
            margin: 0;
        }
        &__up {
            margin: 0;
        }
    }
}

