.popup {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 199;
    transform: translate(-50%, -50%);
    width: 1400px;
    height: 936px;
    &__slider {
        position: relative;
        width: 1400px;
        height: 700px;
        &-close {
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;
            transition: all 0.2s;
            &:hover {
                filter: brightness(0.8);
                transform: scale(0.8);
            }
        }
    }
    &__main-photo {
        width: 1400px;
        height: 700px;
    }
    &__menu {
        margin-top: 59px;
    }
    &-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 1400px;
        height: 155px;
        &__left,
        &__right {
            width: 92px;
            height: 92px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            background-color: transparent;
            transition: all 0.5s ease;
        }
        &__left {
            margin-right: 40px;
        }
        &__right {
            margin-left: 40px;
            transform: rotate(180deg);
        }
        &__left:hover {
            transform: translateX(-10px);
        }
        &__right:hover {
            transform: rotate(180deg) translateX(-10px);
        }
        &__icons {
            display: flex;
            align-items: center;
            gap: 30px;
        }
        &__icon {
            width: 155px;
            height: 155px;
            object-fit: cover;
            border-radius: 5px;
            cursor: pointer;
            &--selected {
                border: 2px solid var(--stroke_mini_photo);
            }
        }
    }
}

@media (min-width: 1280px) and (max-width: 1599px) {
    .popup {
        height: 100vh;
        width: auto;
        top: 50%;
        left: 50%;
        z-index: 199;
        transform: translate(-50%, -50%);
        &__slider {
            height: auto;
            width: 73vw;
            position: relative;
            
        }
        &__main-photo {
            width: 73vw;
            height: 60vh;
        }
        &-menu {
            width: 95vw;
            height: auto;
        
        &__icons {
            gap: 25px
        }
        &__icon {
            height: 11vh;
            width: 11vw;
        }
    }
    }
}
@media (min-width: 768px) and (max-width: 1279px) {
    .popup {
        height: 100vh;
        width: 90vw;
        top: 50%;
        left: 50%;
        z-index: 199;
        transform: translate(-50%, -50%);
        &__slider {
            height: 50vh;
            width: 73vw;
            position: relative;
            
        }
        &__main-photo {
            width: 73vw;
            height: auto;
        }
        &-menu {
            width: 100vw;
            height: auto;        
            &__icons {
                gap: 20px
            }
            &__left {
                margin-right: 20px;
            }
            &__right {
                margin-left: 20px;
                transform: none;
                img {
                    transform: rotate(180deg);
                    margin-top: 7px;
                }
            }
            &__icon {
                height: 10.5vh;
                width: 10.5vw;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .popup {    
        height: 100vh;
        width: 100vw;
        top: 50%;
        left: 50%;
        z-index: 199;
        transform: translate(-50%, -50%);
        &__slider {
            height: 0;
            &-close {
                position: fixed;
                top: 25px;
                right: 25px;
                cursor: pointer;
                transition: all 0.2s;
                z-index: 200;
            }
        }
        &__main-photo {
            display: none;
            width: 100vw;
            height: auto;
        }
        &-menu {
            width: 100vw;
            height: auto; 
            &__icons {
                display: flex;
                overflow-x: auto;
                scroll-snap-type: x mandatory;
                -webkit-overflow-scrolling: touch;
                gap: 20px;
                scroll-behavior: smooth;
            }
            &__left {
                display: none;
                margin-right: 20px;
            }
            &__right {
                display: none;
                margin-left: 20px;
                transform: none;
                img {
                    transform: rotate(180deg);
                    margin-top: 7px;
                }
            }
            &__icon {
                flex: 0 0 auto;
                scroll-snap-align: center;
                height: auto;
                width: 100%;
            }
            &__icon--selected {
                display: none;
            }
        }
    }
}
/* 
1. Сделать свайпом
2. Сделать точки, вместо картинок
3. Точки + стрелки
*/