.search-block {
    display: none;
    position: relative;
    &__container {
        display: grid;
        @include grid-template;
        padding: 0px 0 97px 0;
        gap: 70px 22px;
        margin: 0;
    }
    &__not-found {
        font-size: 32px;
        display: none;
    }
    &__close-button {
        position: absolute;
        top: -2px;
        right: -58px;
        background: none;
        border: none;
        cursor: pointer;
        transition: transform 0.3s ease;
        &:hover {
            transform: scale(1.15);
        }
    }
}
