.search-field {
    width: 479px;
    height: 63px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 19px 15px 20px 22px;
    border-radius: 112px;
    background: var(--txt_color_second, #fff);
    transition: border 0.3s ease;
    &__search {
        &--error {
            transition: border 0.3s ease;
            border: 4px solid $color_second;
        }
        &-input {
            width: 100%;
            border: none;
            outline: none;
            font-size: 20px;
            font-family: "Fugaz One";
            font-weight: 200;
            text-indent: 5px;
            &::-webkit-search-cancel-button {
                cursor: pointer;
            }
        }
        &-desktop {
            display: block;
            &:hover {
                cursor: pointer;
            }
        }
        &-mobile {
            display: none;
        }
    }
}
