.search-block {
    display: none;
    position: relative;
    margin-bottom: 50px;
    &__container {
        display: flex;
        gap: 23px;
        width: 518px;
        height: 457px;
        
        &__img {
            width: 518px;
            height: 312px;
            border-radius: 5px;
    }
    }
    &__not-found {
        font-size: 32px;
        display: none;
    }
    &__close-button {
        position: absolute;
        top: -2px;
        right: -58px;
        background: none;
        border: none;
        cursor: pointer;
        transition: transform 0.3s ease;
        &:hover {
            transform: scale(1.15);
        }
    }
}

@media (min-width: 1450px) and (max-width: 1600px) {
    .search-block {
            grid-template-columns: repeat(3, auto);
            align-items: center;
            justify-items: center;
            padding: 70px 0 0 0;
            gap: 20px 22px;
            width: 95vw;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;
        &__container{
            display: flex;
            gap: 40px;
            width: 30vw;
            height: auto;
            margin-bottom: 50px;
        &__img {
            width: 30vw;
            height: 27.3vh;
            border-radius: 5px;
        }
    }
    &__close-button {
        position: absolute;
        top: -50px;
        right: 5px;
        background: none;
        border: none;
        cursor: pointer;
        transition: transform 0.3s ease;
        &:hover {
            transform: scale(1.15);
        }
    }
}
}

@media (min-width: 1280px) and (max-width: 1450px) {
    .search-block {
            grid-template-columns: repeat(3, auto);
            align-items: center;
            justify-items: center;
            padding: 70px 0 0 0;
            gap: 20px 22px;
            width: 95vw;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;
        &__container{
            display: flex;
            gap: 33px;
            width: 30vw;
            height: auto;
            margin-bottom: 50px;
        &__img {
            width: 30vw;
            height: 27.3vh;
            border-radius: 5px;
        }
    }
    &__close-button {
        position: absolute;
        top: -50px;
        right: 5px;
        background: none;
        border: none;
    }
}
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .search-block {
            display: grid;
            grid-template-columns: repeat(3, auto);
            gap: 20px 22px;
            width: 95vw;
            margin-left: auto;
            margin-right: auto;
        &__container {
            display: flex;
            gap: 25px;
            width: 30vw;
            height: 40vh;
        &__img {
            width: 30vw;
            height: 23.9vh;
            border-radius: 5px;
        }
        &__title {
            font-size: 1.6em;
        }
        }
        &__close-button {
            position: absolute;
            top: -50px;
            right: 5px;
            background: none;
            border: none;
        }
    }
}

@media (min-width: 991px) and (max-width: 1023px) {
    .search-block {
            width: 95vw;
            margin-left: auto;
            margin-right: auto;
        &__container {    
            display: flex;
            gap: 23px;
            width: 30vw;
            height: 38vh;
            margin-bottom: 15px;
        &__img {
            width: 30vw;
            height: 21.9vh;
            border-radius: 5px;
        }
        &__title {
            font-size: 1.6em;
        }
    }
        &__close-button {
            position: absolute;
            top: -50px;
            right: 5px;
            background: none;
            border: none;
        }
    }
}
@media (min-width: 480px) and (max-width: 990px) {
    .search-block {     
        width: 72.8vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        &__container {
            display: block;
            width: 72.8vw;
            height: auto;
        &__img {
            width: 72.8vw;
            height: auto;
            border-radius: 5px;
        }
        }
        &__item {
            margin-bottom: 70px;
        }
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .search-block {
            width: 90vw;
            margin-left: auto;
            margin-right: auto;
        padding: 0;
        &__container {
            display: block;
            gap: 10px;
            width: 90vw;
            height: auto;
        }
        &__item {
            margin-bottom: 70px;
        }
        &__close-button {
            position: absolute;
            top: -50px;
            right: 5px;
            background: none;
            border: none;
        }
    }
}