.main {
  padding: 110px 0 123px 0;
  background: var(--txt_color_second, #fff);
  &__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 23px;
    margin-bottom: 70px;
    &-btn {
      width: 518px;
      padding: 36px 0 36px;
      border-radius: 5px;
      border: 1px solid #2ca7cb;
      background: transparent;
      color: var(--txt_color_main, #000);
      text-align: center;
      font-size: 32px;
      font-family: "Fugaz One";
      transition: all 0.3s ease;
      &.active {
        color: var(--txt_color_second, #fff);
        background: var(--color_main, #2ca7cb);
      }
      &:not(.active):hover {
        border: 1px solid var(--color_second, #e11e18);
        background: rgba(44, 167, 203, 0.1);
      }
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 70px 23px;
    padding: 70px 0 97px 0;
    border-top: 1px solid #aaaaaa;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    &-img {
      width: 518px;
      height: 312px;
      border-radius: 5px;
    }
    &-title {
      color: #000;
      font-size: 32px;
      & span {
        color: #e11e18;
      }
    }
  }
}
.item {
  &__btns {
    display: flex;
    align-items: center;
    gap: 20px;
    &-btn {
      width: 225px;
      padding: 20px 0 19px 0;
      color: var(--txt_color-on-btn, #666);
      text-align: center;
      font-family: "Fugaz One";
      font-size: 20px;
      border-radius: 5px;
      background: #eee;
      border: none;
      outline: none;
      transition: all 0.3s ease;
      cursor: pointer;
      &:nth-child(2) {
        flex-grow: 1;
      }
      &:hover {
        background: var(--stroke_mini_photo, #2ca7cb);
        color: var(--txt_color_second, #fff);
      }
    }
  }
}
.show-more-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_showmore {
    cursor: pointer;
    color: var(--txt_color_second, #fff);
    text-align: center;
    font-family: "Fugaz One";
    font-size: 32px;
    border-radius: 10px;
    background: var(--color_main, #2ca7cb);
    width: 377px;
    padding: 23px 0;
    border: none;
    outline: none;
    transition: all 0.3s ease;
    &:hover {
      background: #17cbff;
    }
  }
  &_up {
    background: none;
    border: none;
    outline: none;

    & img {
      display: block;
      transition: all 0.5s ease;
    }
    &:hover {
      & img {
        transform: translateY(-15px);
      }
    }
  }
}
.second-page {
  & .main {
    padding: 120px 0;
    &__info {
      display: flex;
      justify-content: space-between;
      &-img {
        width: 785px;
        height: 474px;
      }
    }
    &__desc {
      padding: 120px 0;
      &-title {
        color: #000;
        font-size: 36px;
        margin-bottom: 16px;
        & span {
          color: #e11e18;
        }
      }
      &-text {
        color: #000;
        font-family: "Montserrat";
        font-size: 20px;
        line-height: 164%; /* 32.8px */
      }
    }
    &__photos {
      display: grid;
      grid-template-columns: 0.883fr 0.687fr;
      grid-template-rows: 0.411fr 0.57fr 0.411fr 0.666fr;
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      & img {
        width: 100%;
        height: 100%; /* Make sure image fills its container */
        object-fit: cover; /* Ensure the entire image is visible, covering the container */
        border-radius: 5px;
        &:nth-child(n) {
          grid-area: 1 / 1 / 2 / 2;
        }
        &:nth-child(2n) {
          grid-area: 1 / 2 / 2 / 3;
        }
        &:nth-child(3n) {
          grid-area: 2 / 1 / 3 / 3;
        }
        &:nth-child(4n) {
          grid-area: 3 / 1 / 4 / 2;
        }
        &:nth-child(5n) {
          grid-area: 3 / 2 / 4 / 3;
        }
        &:nth-child(6n) {
          grid-area: 4 / 1 / 5 / 3;
        }
      }
    }

    &__description {
      padding-top: 71px;
      &-title {
        color: #000;
        font-size: 64px;
        border-bottom: 1px solid #666;
        margin-bottom: 57px;
        padding-bottom: 11px;
        & span {
          color: #e11e18;
        }
      }
    }
    &__box {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    &__box-img {
      width: 297px;
      height: 180px;
    }
    &__speed {
      display: flex;
      padding-top: 11px;
      gap: 75px;
      &-number {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #aaa;
        font-size: 20px;
        position: relative;
        & span {
          color: var(--stroke_mini_photo, #2ca7cb);
          font-size: 80px;
        }
        &:first-child {
          &::after {
            content: "";
            width: 1px;
            height: 88px;
            position: absolute;
            bottom: 14px;
            right: -29px;
            z-index: 2;
            background: #666666;
          }
        }
      }
    }
  }
}
