.popup {
  z-index: 1;
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.9);
  &__slider {
    position: relative;
  }
  &__main-photo {
    width: 990px;
    height: 480.5px;
    border: 3px solid white;
    border-radius: 5px;
  }
  &__close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }
  &__menu {
    margin-top: 40.5px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
  }
  &-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    &__left,
    &__right {
      width: 74px;
      height: 74px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      background-color: transparent;
      background-image: url("./../../images/arrows/ph_arrow.svg");
      transition: all 0.5s ease;
      background-position: left;
    }
    &__left {
      margin-right: 40px;
    }
    &__right {
      margin-left: 40px;
      transform: rotate(180deg);
    }
    &__left:hover {
      transform: translateX(-10px);
    }
    &__right:hover {
      transform: rotate(180deg) translateX(-10px);
    }
    &__icons {
      display: flex;
      align-items: center;
      gap: 20.59px;
    }
    &__icon {
      width: 106.4px;
      height: 106.4px;
      object-fit: cover;
      border-radius: 5px;
      cursor: pointer;
      &--selected {
        border: 5px solid var(--stroke_mini_photo);
      }
    }
  }
}
