@import "../../../../../styles/variables.scss";

.add-car-popup {
    &__overlay {
        @include overlay-styles();
    }
    &__heading {
        font-size: 18px;
        & span {
            color: $color-highlight;
        }
    }
    &__close {
        @include close-styles();
    }
    &__form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        &-info {
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            &-input {
                @include input-styles();

                &--number {
                    color: $color-highlight;
                    &::placeholder {
                        color: rgba($color-highlight, 0.3);
                    }
                }
                &--role {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    width: 224px;
                    height: 48px;
                    & input {
                        display: none;
                        &[type="radio"]:checked + label {
                            background-color: $color-active;
                            color: $color-light;
                            border: none;
                        }
                    }
                    & label {
                        &:hover {
                            background-color: $color-active-neutral;
                        }
                        cursor: pointer;
                    }
                }
                &--textarea {
                    font-weight: normal;
                    resize: none;
                    display: block;
                    font-family: "Montserrat", sans-serif;
                    height: 140px;
                    &::placeholder {
                        font-weight: bold;
                    }
                }
            }
        }
        &-photos {
            width: 265px;
            height: fit-content;
            border: 1px solid $color-dark;
            border-radius: 6px;
            background-color: $background-color-neutral;
            padding: 13px;
            display: flex;
            flex-wrap: wrap;
            gap: 13px;
            &-img {
                position: relative;
                &:first-child img {
                    border: 2px solid $color-highlight;
                }
                &:hover {
                    &::after {
                        content: "×";
                        font-size: 100px;
                        color: $color-highlight;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 66px;
                        height: 66px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: rgba(0, 0, 0, 0.5);
                        border-radius: 6px;
                        cursor: pointer;
                        transition: 0.3s;
                        border: 2px solid $color-highlight;
                    }
                }
                & img {
                    width: 70px;
                    height: 70px;
                    object-fit: cover;
                    border-radius: 6px;
                }
            }
            & label {
                cursor: pointer;
                width: 70px;
                height: 70px;
                display: block;
                border-radius: 6px;
                font-size: 90px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $color-active-neutral;
                background-color: $color-light;
                transition: 0.3s;
                &:hover {
                    color: $color-light;
                    background-color: $color-active-neutral;
                }
            }
            & input {
                display: none;
            }
        }
    }
    @include popup-styles(10, 570px, 700px);
    &__add-button {
        @include button-styles();
    }
}
