@import "../../../styles/variables.scss";

.admins {
    font-family: "Fugaz One", sans-serif;
    font-size: 48px;
    @include page-settings();
    &__wrapper {
        @include wrapper-styles();
    }
    &__add-admin {
        @include button-styles();
    }
    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        margin-top: 44px;
    }
}
